.auth-input {
    margin-bottom: 5px;
    min-height: 75px;

    label {
        margin-bottom: 1px;
        font-size: 14px;
        color: #333333;
    }

    input {
        font-size: 15px;
        color: #7b7b7b;
        border-radius: 0;

        &:focus {
            border-color: #c2c2c2;
        }
    }
}

.auth-btn {
    text-align: center;

    .btn {
        width: 145px;
        color: #E8E8E8;
        border: none;
        height: 42px;
        transition: background-image 0.2s ease-in-out;
        background: rgb(230, 127, 13);
        background: -moz-linear-gradient(175deg, rgba(230, 127, 13, 1) 0%, rgba(231, 60, 6, 1) 100%);
        background: -webkit-linear-gradient(175deg, rgba(230, 127, 13, 1) 0%, rgba(231, 60, 6, 1) 100%);
        background: linear-gradient(175deg, rgba(230, 127, 13, 1) 0%, rgba(231, 60, 6, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e67f0d", endColorstr="#e73c06", GradientType=1);

        &:hover:not(:disabled) {
            background: -moz-linear-gradient(342deg, rgba(230, 127, 13, 1) 0%, rgba(231, 60, 6, 1) 100%);
            background: -webkit-linear-gradient(342deg, rgba(230, 127, 13, 1) 0%, rgba(231, 60, 6, 1) 100%);
            background: linear-gradient(342deg, rgba(230, 127, 13, 1) 0%, rgba(231, 60, 6, 1) 100%);
        }

        &:active:not(:disabled) {
            box-shadow: inset 0 0 15px #742811 !important;
        }
    }
}

.extra-info,
.remember {
    margin-bottom: 25px;
    padding-left: 30px;
    font-size: 12px;
    position: relative;
    color: #666464;

    label {
        margin-bottom: 0;
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 1px solid #c9cbcc;
        border-radius: 3px;
        cursor: pointer;
        top: 1px;
    }

    input {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }

    img {
        width: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: opacity 0.2s cubic-bezier(.41, -0.08, .02, 1.34);
    }

    input:checked+img {
        opacity: 1;
    }

}