<form action="" #loginForm="ngForm" class="text-left" (ngSubmit)="onSubmit($event)">
    <div class="auth-input">
      <label for="share-email">Email</label>
      <input type="email" [(ngModel)]="loginForm.email" email="true" required="" name="email" id="share-email" class="form-control">
    </div>
    <div class="auth-input">
      <label for="share-password">Password</label>
      <input type="password" [(ngModel)]="loginForm.password" required="" name="password" id="share-password" class="form-control">
    </div>
    <div class="remember">
        <label for="remember">
          <input type="checkbox" name="remember" id="remember">
          <img src="{{checkIcon}}" alt="">
        </label>
        <span>Remember me</span>
      </div>
    <div class="auth-btn">
      <button [disabled]="!loginForm.valid || disableBtn" class="btn" type="submit">Login</button>
    </div>
  </form>