<form action="" #registerForm="ngForm" (ngSubmit)="onSubmit($event)" class="text-left">
  <div class="auth-input">
    <label for="firstName">First Name</label>
    <input type="text" [(ngModel)]="registerForm.first_name" required="" name="firstName" id="share-firstName"
      class="form-control">
  </div>
  <div class="auth-input">
    <label for="lastName">Last Name</label>
    <input type="text" [(ngModel)]="registerForm.last_name" required="" name="lastName" id="share-lastName" class="form-control">
  </div>
  <div class="auth-input">
    <label for="email">Email</label>
    <input type="email" email="true" [(ngModel)]="registerForm.email" name="email" id="share-email" required="" class="form-control">
  </div>
  <div class="auth-input">
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="registerForm.password" id="share-password" name="password" required="" class="form-control">
  </div>
  <div class="extra-info">
    <label for="extra-info">
      <input type="checkbox" class="extra-info" name="extra-info" id="extra-info">
      <img src="{{checkIcon}}" alt="">
    </label>
    <span>Send anonymous app usage information to Enrooting Technologies to better understand how the app is being
      used.</span>
  </div>
  <div class="auth-btn">
    <button class="btn" [disabled]="!registerForm.valid || disableBtn" type="submit">Create Account</button>
  </div>
</form>