.logo {
    padding: 45px 0 25px;
}

.main {
    h1 {
        color: #222222;
        font-size: 2rem;
        font-weight: 400;
    }

    h5 {
        color: #525252;
        font-size: 1rem;
        font-weight: 400;
    }
}

.auth-container {
    padding: 25px 0 45px;
    width: 401px;

    .tabs {
        .btn {
            width: 201px;
            border-radius: 0;
            background-color: #979AA2;
            color: #FBFBFB;

            &:focus {
                border-color: #D4D6DD;
            }
        }

        .tab-active {
            background-color: #D4D6DD;
            color: #424242;
        }
    }

    // .auth-height {
    //     min-height: 491px;
    // }

    .auth-form {
        padding: 15px 35px 35px;
        background-color: #D4D6DD;
    }

}