<div class="container">
  <div class="text-center">
    <div class="logo">
      <img src="{{logo}}" alt="">
    </div>
    <div class="main">
      <h1>Welcome to ShareStream</h1>
      <h5>Share content streaming with your friends</h5>
      <div class="container auth-container">
        <div class="row m-0 justify-content-center">
          <div class="col p-0">
            <div class="tabs">
              <div class="btn-group" role="group" aria-label="Authentication options">
                <a [routerLink]="['/', 'login']" role="button" class="btn tab-active" (click)="changeRoute(true)" [class.tab-active]="loginActivate">Login</a>
                <a [routerLink]="['/', 'register']" role="button" class="btn" (click)="changeRoute(false)" [class.tab-active]="!loginActivate">Register</a>
              </div>
            </div>
            <div class="auth-height">
                <div class="auth-form">
                    <router-outlet></router-outlet>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>