.navigation {
    >div {
        padding-top: 65px;
    }

    .navi-button {
        &:first-child {
            margin-bottom: 40px;
        }

        a {
            color: #E3E3E3;
            display: inline-block;
            padding: 12px 25px;
            text-decoration: none;
            border-radius: 2px;
            background: rgb(130, 130, 130);
            background: -moz-linear-gradient(175deg, rgba(130, 130, 130, 1) 0%, rgba(78, 78, 78, 1) 100%);
            background: -webkit-linear-gradient(175deg, rgba(130, 130, 130, 1) 0%, rgba(78, 78, 78, 1) 100%);
            background: linear-gradient(175deg, rgba(130, 130, 130, 1) 0%, rgba(78, 78, 78, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#828282", endColorstr="#4e4e4e", GradientType=1);
            line-height: 2rem;
            height: 58px;
            width: 218px;
            text-align: center;
            transition: background 0.2s ease-in-out;

            &:hover {
                background: rgb(130, 130, 130);
                background: -moz-linear-gradient(204deg, rgba(130, 130, 130, 1) 0%, rgba(78, 78, 78, 1) 100%);
                background: -webkit-linear-gradient(204deg, rgba(130, 130, 130, 1) 0%, rgba(78, 78, 78, 1) 100%);
                background: linear-gradient(204deg, rgba(130, 130, 130, 1) 0%, rgba(78, 78, 78, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#828282", endColorstr="#4e4e4e", GradientType=1);
            }

            &:active {
                box-shadow: inset 0 0 15px #1c1c1c !important;
            }
        }
    }
}

.welcome-note {
    padding-top: 30px;

    h1 {
        font-size: 30px;
        margin-bottom: 18px;
    }

    .lead {
        font-size: 17px;
    }
}