<div class="container-fluid p-0">
  <div class="app-header"></div>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-5 navigation">
          <div class="">
            <div class="navi-button">
              <a role="button" [routerLink]="['/', 'stream', 'start']">Start Stream</a>
            </div>
            <div class="navi-button">
              <a role="button" [routerLink]="['/', 'stream', 'join']">Join Stream</a>
            </div>
          </div>
        </div>
        <div class="col welcome-note">
          <h1>Welcome, {{firstName}}</h1>
          <div class="lead">
            Hi, thanks for trying out ShareStream.
            This is a Beta release, expect some issues. If you come across any please report
          </div>
        </div>
      </div>
    </div>
  </main>
</div>