<h2>Testing Video </h2>
<div class="progresslabel"></div>
<input type="file" (change)="onChange($event)" name="" id="">
<div class="source-container">
  <video controls id="source" style="width:500px"></video>

  <webview id="foo" src="http://www.google.com/" style="width:640px; height:480px"></webview>

  <div id="overlayTracks" style="color: black;"></div>
</div>