.logo {
    height: 20px;
    vertical-align: middle;
}

.flex-spacer {
    flex-grow: 1;
    user-select: none;
    -webkit-app-region: drag;
    height: 30px;
}

.resizer {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
}

.navbar-header {
    display: flex;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    background: #f7f7f7;

    >span {
        display: inline-block;
        height: 30px;
        line-height: 27px;
        margin: 0 10px;
        -webkit-app-region: drag;
    }

}

.navigation {

    ul {
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            background-color: transparent;
            line-height: 30px;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: #dcdbdb;
            }
        }

        a {
            font-size: 12px;
            padding: 0 6px;
            display: block;
            color: #545454;
        }
    }
}

.profile-image {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
    line-height: 26px;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        .image img {
            opacity: 0.8;
            border-color: #d0d0d0;
        }
    }

    .image {
        height: 100%;
        text-align: center;
        width: 100%;
        position: relative;
    }

    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid transparent;
    }
}

.profile-image.show {
    .image img {
        opacity: 0.8;
        border-color: #d0d0d0;
    }
}

.window-control-container {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    z-index: 3000;
    -webkit-app-region: no-drag;
    height: 30px;
    width: 138px;
    margin-left: auto;

    .window-control {
        display: inline-block;
        -webkit-app-region: no-drag;
        height: 100%;
        width: 33.34%;
        padding: 0;
        border-radius: 0;
        border: none !important;
        background-color: #f7f7f7;
        cursor: default;

        &:hover {
            background-color: #dcdbdb;
        }

        >div {
            height: 100%;
            width: 100%;
            -webkit-mask-size: 23.1%;
            mask-size: 23.1%;
            background-color: #545454;

        }
    }

    .window-close {

        >div {
            mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
            -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;

            &:hover {
                background-color: #fff;
            }
        }

        &:hover {
            background-color: rgba(232, 17, 35, .9);
        }
    }

    .window-minimize {
        >div {
            mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
            -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
        }
    }

    .window-unmaximize {
        >div {
            mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
            -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
        }
    }

    .window-maximize {
        >div {
            mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
            -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
        }
    }
}



a:hover {
    color: unset;
    text-decoration: unset
}

.dropdown {

    .dropdown-menu {
        border-radius: 0 0 2px 2px;
        margin-top: 0;
        border-top: 2px solid #ec7e0c;
        background-color: #ececec;
        box-shadow: 0 4px 3px rgba(0, 0, 0, 0.42);
    }

    ul {
        margin: 0;
        padding: 0;

        li,
        a {
            display: block;
        }

        a {
            font-size: 12px;
            padding: 0 13px;
            color: #545454;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: #d2d2d2;
            }
        }
    }

    .dropdown-menu#topbar-profile {
        margin-left: -114px;
    }
}

.dropdown-toggle::after {
    display: none;
}