<nav class="navbar-header">
  <span>
    <img src="{{iconPath}}" alt="ShareStream" class="logo">
  </span>
  <div class="navigation">
    <ul>
      <li><a [routerLink]="['/', 'home']" role="button">Home</a></li>
      <li><a [routerLink]="['/', 'test']" role="button">Test Page</a></li>
      <li><a [routerLink]="['/', 'home']" role="button">Help</a></li>
      <li><a [routerLink]="['/']" role="button">Landing page</a></li>
    </ul>
  </div>
  <div class="flex-spacer"></div>
  <div class="resizer"></div>
  <div dropdown class="dropdown profile-image" title="Hi, {{firstName}}" [class.d-none]="!loggedIn">
    <div dropdownToggle class="dropdown-toggle image" aria-controls="topbar-profile" aria-haspopup="true">
      <img src="{{image}}" alt="">
    </div>
    <div *dropdownMenu id="topbar-profile" class="dropdown-menu">
      <ul class="drop_menu" aria-labelledby="topbar-profile">
        <li><a title="Go to your profile" href="#">Profile</a></li>
        <li><a title="Logout" (click)="logout($event)">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="window-control-container">
    <button (click)="minimise()" class="btn window-control window-minimize" title="Minimize">
      <div></div>
    </button>
    <button (click)="maximize()" id="maximize" class="btn window-control window-maximize" title="Maximize">
      <div></div>
    </button>
    <button (click)="close()" class="btn window-control window-close" title="Close">
      <div></div>
    </button>
  </div>
</nav>