.content {
    padding-top: 10px;

    h3 {
        font-size: 15px;
        position: relative;
        margin-bottom: 8px;
        min-height: 26px;
        font-weight: 400;
    }

    h3.media-h3 {
        margin-bottom: 13px;

        .media-h3-div {
            line-height: 26px;
        }
    }

    .selected-audience {
        font-size: 11px;
        line-height: 19px;
    }

    .audience-option {
        select {
            width: 100px;
            border: 1px solid #444444;
            border-radius: 3px;
            height: 23px;
            font-size: 11px;
            background-color: #EAEAEA;
            color: #383737;
            padding-left: 4px;
            cursor: pointer;
        }
    }

    .extra-data {
        position: absolute;
        right: 0;
        top: 0;

        .btn {
            background-color: #d48725;
            padding: 4px 6px;
            font-size: 11px;
            color: #EAEAEA;
            border-color: #d48725;
            cursor: pointer;
            min-width: 77px;
            margin: 0;

            &:hover {
                background-color: #bd761b;
                border-color: #b16d17;
            }

            &:active {
                box-shadow: inset 0 0 15px #714308 !important;
            }
        }
    }

    .list-container {
        height: 380px;
        background-image: linear-gradient(17deg, #2F2E2E, #2F2E2E);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.36);
        overflow: auto;

        .progress-container {
            position: absolute;
            top: 0;
        }
    }

    .list-container.audience-list {
        height: 370px;
    }

    .item {
        background-image: none;
        padding: 15px 20px;
        position: relative;
        cursor: default;
        transition: background-image 0.2s ease-in-out;

        &:not(:last-child) {
            border-bottom: 1px solid #363636;
        }

        &:hover {
            background-image: linear-gradient(17deg, #3c3b3b, #303030);

            .item-image {
                background-color: #484848;
            }
        }

        .item-details {
            position: relative;
            padding-right: 30px;
            padding-left: 55px;

            .item-header {
                color: #C8C8C8;
                font-size: 15px;
                font-weight: 400;
            }

            .item-header,
            .item-info {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .item-info {
                color: #9D9D9D;
                font-size: 11px;
            }
        }

        .item-image {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            position: absolute;
            background-color: #393939;
            top: 13px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                transition: opacity 0.2s ease-in-out;
                ;
            }

            .progress-container {
                display: none;
            }
        }

        .item-image.processing {
            img {
                opacity: 0.3;
            }

            .progress-container {
                display: block;

                .progress-ring__circle {
                    animation: spin 1.8s infinite;
                }
            }
        }

        .item-action {
            position: absolute;
            right: 2px;
            top: 7px;

            ul {
                padding: 0;
                margin: 0;
            }

            li {
                display: inline-block;
                font-size: 19px;
                width: 18px;
                text-align: center;
                cursor: pointer;
                opacity: 0.6;
                transition: opacity 0.2s ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }

            li.trash {
                color: #D40D0D;
            }
        }
    }

    .item.item-skip {
        background-image: linear-gradient(17deg, #393939, #393939) !important;

        .item-image,
        .item-details {
            opacity: 0.5;
        }

        .item-image {
            background-color: #484848;
        }
    }
}

@keyframes spin {
    0% {
        stroke-dashoffset: 128.8;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.content-action {
    padding: 15px 0 28px;

    .btn {
        color: #F9F9F9;
        font-size: 14px;
        width: 186px;
        height: 47px;
        line-height: 33px;
    }

    .btn-cancel {
        background-color: #595959;

        &:hover {
            background-color: #4b4b4b;
            border-color: #505050;
        }

        &:focus {
            border-color: #595959;
        }

        &:active {
            box-shadow: inset 0 0 15px #121111 !important;
            border-color: #2c2c2c;
        }
    }

    .btn-next {
        background-color: #245086;

        &:hover {
            background-color: #1a3c66;
            border-color: #1a3e69;
        }

        &:focus {
            border-color: #245086;
        }

        &:active {
            box-shadow: inset 0 0 15px #07172a !important;
            border-color: #132944;
        }
    }
}

.empty-media {
    font-size: 14px;
    text-align: center;
    padding: 60px 0 0;
    color: #b9b9b9;
}

.select-empty {
    text-align: center;

    label {
        display: inline-block;
        position: relative;
        font-size: 13px;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 8px;
        min-height: 20px;
        line-height: 10px;
        transition: box-shadow, background-color 0.2s ease-in-out;
        font-weight: 400 !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #d48725;

        input {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
}

.filereader-modal {
    color: #464646;
    background-color: #f3f3f3;

    .modal-body {
        padding-bottom: 20px;
    }

    .btn {
        color: #484848;

        &:active,
        &:focus {
            color: #5a5a5a;
            background-color: #d8d6d6;
            border-color: transparent;
        }

        &:active {
            box-shadow: inset 0px 1px 10px #c1c1c1 !important;
        }
    }
}

.modal-body {
    .progress-container {
        height: 50px;
        line-height: 50px;
    }
}

.progress-container {
    text-align: center;

    .progress-text {
        font-size: 12px;
        margin-top: 5px;
        color: #7b7b7b;
        min-height: 18px;
    }

    .progress-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .progress-ring__circle {
            transition: stroke-dashoffset 0.35s;
            stroke-dasharray: 128.8 128.8;
            stroke-dashoffset: 128.8;
            transform: rotate(-90deg);
            transform-origin: 50% 50%
        }

        .progress-ring {
            stroke-dashoffset: 0;
            stroke-dasharray: 0;
            opacity: 0.6;
        }

        .percent {
            position: absolute;
            font-size: 10px;
            color: rgb(216, 216, 216);
            font-weight: 100;
        }
    }
}