<div class="row justify-content-center">
  <div class="col-5 content">
    <h3 [class.media-h3]="data_type=='media'">
      <div class="media-h3-div" *ngIf="data_type=='media'">Add Media</div>
      <div *ngIf="data_type=='audience'">
        <div>
          <span>Audience to share with: </span>
          <span class="audience-option">
            <select (change)="onAudienceChange($event)" name="" id="">
              <option value="friends">My Friends</option>
              <option value="everyone">Everyone</option>
            </select>
          </span>
        </div>
        <div class="selected-audience">Selected:
          <span *ngIf="sendTo.length == 0">None</span>
          <span *ngIf="sendTo.length != 0">{{sendTo.length}}</span>
        </div>
      </div>
      <div class="extra-data">
        <label *ngIf="data_type=='media'" for="add-media" class="btn"><i class="fa fa-plus"></i> Add More</label>
        <div class="d-none">
          <input type="file" (change)="addMedia($event)" class="d-none" name="media" id="add-media">
        </div>
        <button *ngIf="data_type=='audience'" type="button" class="btn final-step"><i class="fa fa-envelope-o"></i>
          Invite</button>
      </div>
    </h3>
    <div class="list-container" [class.audience-list]="data_type=='audience'">
      <div *ngIf="data_type=='media'">
        <div *ngIf="bucket.length != 0">
          <div *ngFor="let item of bucket; index as i" class="item item-{{i}}">
            <div class="item-image">
              <img src="{{item.image}}" alt="">
              <div class="progress-container">
                <div class="progress-content">
                  <div class="percent"></div>
                  <svg class="progress-ring" height="45" width="45">
                    <circle class="progress-ring__circle" stroke-width="3" stroke="rgb(255, 255, 255)"
                      fill="transparent" r="20.5" cx="22.5" cy="22.5" />
                    <circle class="progress-ring" stroke-width="1" stroke="rgb(255, 255, 255)" fill="transparent"
                      r="20.5" cx="22.5" cy="22.5" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="item-details">
              <div class="item-header" title="{{item.title}}">{{item.title}}</div>
              <div class="item-info">Size: {{item.size | helper: "size":1}}, Length:
                {{item.duration | helper: "duration"}}</div>
              <div class="item-action">
                <ul>
                  <li class="trash" (click)="removeItem(i)" title="Remove item"><i class="fa fa-trash"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="bucket.length == 0">
          <div class="empty-media">Add files to your bucket</div>
          <div class="select-empty">
            <label for="add-media">
              <i class="fa fa-plus"></i> Select file
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="data_type=='audience'">
        <div *ngFor="let item of audience; index as i" [class.item-skip]="!item.share" class="item item-friend">
          <div class="item-image">
            <img src="{{item.image}}" alt="">
          </div>
          <div class="item-details">
            <div class="item-header">{{item.name}}</div>
            <div class="item-info">{{item.email}}</div>
            <div class="item-action">
              <ul>
                <li *ngIf="item.share" (click)="manageAudience(i, item, 'remove')" title="Remove item"><i
                    class="fa fa-minus"></i></li>
                <li *ngIf="!item.share" (click)="manageAudience(i, item, 'add')" title="Add friend"><i
                    class="fa fa-plus"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-action">
      <div class="row">
        <div class="col">
          <a *ngIf="data_type=='media'" [routerLink]="['/', 'home']" class="btn btn-cancel">Cancel</a>
          <button type="button" *ngIf="data_type=='audience'" class="btn btn-cancel final-step"
            (click)="viewControl('media')">Back</button>
        </div>
        <div class="col text-right">
          <button type="button" *ngIf="data_type=='media'" disabled="true" id="continue-btn" class="btn btn-next"
            (click)="viewControl('audience')">Continue</button>
          <button type="button" [disabled]="audience.length == 0 && audienceType == 'friends'" [disabled]="loadingData"
            *ngIf="data_type=='audience'" class="btn btn-next final-step" (click)="createBucket($event)">Create
            Bucket</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #fileReader="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name"
  [config]="{backdrop: 'static', keyboard: false}" (onShown)="processFileInfo()" (onHidden)="hiddenFileReader()">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content filereader-modal">
      <div class="modal-body">
        <div class="progress-container">
          <div class="progress-text"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="hideFileReader()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>