@import url("../../../node_modules/font-awesome/css/font-awesome.css");
@import "~angular-notifier/styles";

html {
    display: flex;
}

html,
body,
.app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

body>iframe {
    display: none;
}

.app {
    padding-top: 30px;
}

.form-control,
.btn {
    border-radius: 2px;

    &:focus {
        box-shadow: none !important;
        border-color: inherit;
    }
}

* {
    outline: none !important;
}

.main-app {
    overflow: auto;
    height: 100%;
}

.welcome-bg {
    background: rgb(235, 235, 235);
    background: -moz-linear-gradient(175deg, rgba(235, 235, 235, 1) 0%, rgba(157, 157, 157, 1) 100%);
    background: -webkit-linear-gradient(175deg, rgba(235, 235, 235, 1) 0%, rgba(157, 157, 157, 1) 100%);
    background: linear-gradient(175deg, rgba(235, 235, 235, 1) 0%, rgba(157, 157, 157, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebebeb", endColorstr="#9d9d9d", GradientType=1);
}

.welcome {
    width: 100%;
    height: 100%;
}

// App Theme

.app-theme {
    color: #EAEAEA;
    background: rgb(68, 68, 68);
    background: -moz-linear-gradient(175deg, rgba(68, 68, 68, 1) 0%, rgba(13, 13, 13, 1) 100%);
    background: -webkit-linear-gradient(175deg, rgba(68, 68, 68, 1) 0%, rgba(13, 13, 13, 1) 100%);
    background: linear-gradient(175deg, rgba(68, 68, 68, 1) 0%, rgba(13, 13, 13, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#444444", endColorstr="#0d0d0d", GradientType=1);
}