<header>
  <div class="container">
    <div class="row">
      <div class="col logo">
        <div class="">
          <a [routerLink]="['/dashboard']">
              <img src="{{logo}}" alt="ShareStream">
              <span id="connection-status" class="status"><span></span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>