header {
    background-color: transparent;
}

.logo {
    font-size: 19px;

    a {
        color: #ce8121;
        position: relative;
        // background-color: linear-gradient(170deg, #ce8121,#d62e00);
    }

    img {
        width: 160px;
    }

    .status {
        position: absolute;
        height: 12px;
        width: 12px;
        top: 0;
        right: -15px;
        background-color: #d82a2a;
        border-radius: 50%;
    }

    .status.online {
        background-color: #0ac025;
    }
}

.menu,
.logo {
    line-height: 70px;
    height: 70px;
}

.menu {
    text-align: right;

    .menu-item {
        color: #EAEAEA;
        font-size: 15px;
        font-weight: 400;

        i {
            font-size: 17px;
            margin-left: 4px;
        }
    }
}