.content-container {
    padding: 4px 25px 0;

    h1 {
        font-size: 26px;
        font-weight: 400;
    }
}

.content-container.player {
    padding-top: 20px;

    h1 {
        font-size: 15px;
        margin-bottom: 13px;
    }
}