<div class="container-fluid p-0">
  <div class="app-header"></div>
  <main>
    <div class="container content-container" [class.player]="componentType == 'player'">
      <h1 id="main-header">{{heading}}</h1>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>