<div class="row">
  <div class="col left-panel">
    <div class="player-holder">
      <div class="forground-layer">
        <div id="player-box">
          <div class="detail-container" (click)="playback()">
            <!-- For Host -->
            <div *ngIf="inControl">
              <div class="step step-one">
                <div *ngIf="!initialized">
                  <div class="step-icon"><i class="fa fa-film"></i></div>
                  <div class="step-text">Select any item from playlist</div>
                </div>
                <div *ngIf="initialized">
                  <div class="step-icon">
                    <button id="connect" (click)="sendStartSignal($event)" class="btn btn-primary">Connect</button>
                  </div>
                  <div id="connect-text" class="step-text">Start sharing with your audience</div>
                </div>
              </div>
              <div class="step step-two d-none">
                <div class="step-icon">
                  <div class="control-btn">
                    <i class="fa fa-play"></i>
                  </div>
                </div>
                <div class="step-text">Press play to start</div>
              </div>
            </div>
            <!-- end: Host -->

            <!-- For Audience -->
            <div *ngIf="!inControl">
              <div class="step step-one">
                <div id="connect-text" class="step-text">Please wait for the stream</div>
              </div>
            </div>
            <!-- end: Audience -->
          </div>

          <div class="playlist-container">
            <div class="right-panel-header">
              Up Next
            </div>
            <div class="list-container" [class.in-control]="inControl">
              <div *ngIf="bucket.length != 0">
                <div *ngFor="let item of bucket; index as i" title="{{item.title}}"
                  class="list-item playlist-item-{{i}}" [class.waiting]="item.label == 'waiting'"
                  [class.ready]="item.label == 'ready'" [class.preparing]="item.label == 'preparing'">
                  <div class="item-segmentation"></div>
                  <div class="item-image">
                    <img src="{{item.image}}" alt="">
                  </div>
                  <div class="item-details">
                    <div class="item-title" (click)="activate(i, item.label)">{{item.title}}</div>
                    <div class="item-info">Size: {{item.size | helper: "size"}}, Length:
                      {{item.duration | helper: "duration"}}
                    </div>
                  </div>
                  <div class="label">{{item.label}}</div>
                </div>
              </div>
              <div *ngIf="bucket.length == 0">
                <h3 class="empty-media">Stream Bucket is empty</h3>
              </div>
            </div>
          </div>

          <div class="control-container">
            <div class="media-control">
              <div class="media-duration">
                <div class="current-duration">{{currentDuration | helper: "duration"}}</div>
                <div class="end-duration">{{endDuration | helper: "duration"}}</div>
              </div>
              <div class="media-tracks">
                <div class="buffer-track"></div>
                <div class="watch-track"></div>
              </div>
              <div class="media-controls">
                <div class="left-control-btns">
                  <div class="btn-list">
                    <div *ngIf="inControl" (click)="prevMedia(activeVideo - 1)" [class.d-none]="!prev"><i class="fa fa-backward"></i></div>
                    <div *ngIf="inControl" id="media-control-play" (click)="playback()"><i class="fa fa-play"></i></div>
                    <div *ngIf="inControl" (click)="nextMedia(activeVideo + 1)" [class.d-none]="!next"><i class="fa fa-forward"></i></div>
                    <div (click)="mute()" class="volume-icon"><i class="fa" [class.fa-volume-off]="muteSound"
                        [class.fa-volume-up]="currentVolume >= 0.6"
                        [class.fa-volume-down]="currentVolume >= 0.1 && currentVolume <= 0.5"></i></div>
                    <div class="volume">
                      <div class="scroll-range"></div>
                      <input type="range" (change)="volume($event)" value="0.5" min="0" max="1" step="0.1" id="volume">
                    </div>
                  </div>
                </div>
                <div class="right-control-btns">
                  <div class="btn-list">
                    <div><i class="fa fa-expand"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="player-contain" [class.started]="movieStarted">
        <div class="video-poster">
          <img [class.d-none]="poster==''" class="d-none" id="poster" src="{{poster}}" alt="">
        </div>
        <!-- <video id="stream-src" preload="auto"></video> -->
      </div>
    </div>
  </div>
  <div class="col-3 playlist-container">
    <div class="right-panel-header">
      Friends: {{audience.length}}
    </div>
    <div class="list-container">
      <div *ngIf="audience.length != 0">
        <div *ngFor="let item of audience; index as i" title="{{item.name}}" class="list-item">
          <div class="item-image">
            <img src="{{item.picture}}" alt="">
          </div>
          <div class="item-details">
            <div class="item-title" (click)="contact(item.id, item.email)">
              <span *ngIf="i > 0">{{item.name}}</span>
              <span *ngIf="i == 0">You</span>
            </div>
            <div class="item-info">{{item.email}}</div>
          </div>
          <div class="audience-type" *ngIf="item.admin" title="Admin">Admin</div>
        </div>
      </div>
      <div *ngIf="audience.length == 0">
        <h3 class="empty-media">No one inside</h3>
      </div>
    </div>
  </div>
</div>