.playlist-container {
    padding: 0;
    background-color: #2F2E2E;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.36);
    height: 450px;

    .right-panel-header {
        text-transform: uppercase;
        font-size: 12px;
        padding: 12px 15px;
        background-color: #444;
    }
}

.list-container.in-control {
    .list-item:not(.ready) {
        .item-title {
            cursor: pointer;

            &:hover {
                color: #afaeae;
            }
        }
    }
}

.list-container {

    .list-item {
        padding: 10px 10px;
        position: relative;
        cursor: default;
        background-image: none;
        transition: background-image 0.2s ease-in-out;

        &:not(:last-child) {
            border-bottom: 1px solid #363636;
        }

        &:hover {
            background-image: linear-gradient(17deg, #3c3b3b, #303030);
        }

        .item-title {
            color: #C8C8C8;
            font-size: 13px;
            font-weight: 500;
            transition: color 0.2s ease-in-out;
            padding-right: 55px;
        }

        .item-details {
            position: relative;
            padding-right: 0;
            padding-left: 45px;
        }

        .item-title,
        .item-info {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .item-info {
            color: #9D9D9D;
            font-size: 11px;
        }

        .item-image {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            position: absolute;
            background-color: #393939;
            top: 6px;
            left: 6px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .empty-media {
        font-size: 13px;
        font-weight: 300;
        text-align: center;
        padding: 35px 0 0;
        color: #a7a7a7;
    }

    .label {
        position: absolute;
        font-size: 9px;
        top: 15px;
        right: 11px;
        background-color: #595752;
        font-weight: 500;
        text-transform: uppercase;
        width: 50px;
        text-align: center;
    }

    .audience-type {
        position: absolute;
        top: 12px;
        right: 9px;
        font-size: 10px;
        border: 1px solid #ef8f14;
        padding: 0px 4px;
        border-radius: 3px;
        color: #f7a236;
    }

    .list-item.waiting .label {
        background-color: #595752;
    }

    .list-item.ready {
        background-image: linear-gradient(17deg, #444444, #2b2b2b);

        .label {
            background-color: #1CC234;
        }
    }

    .item-segmentation {
        position: absolute;
        height: 100%;
        width: 0%;
        top: 0;
        background-color: #4e4e4e;
        left: 0;
    }

    .list-item.preparing .label {
        background-color: #BF970F;
    }
}

.left-panel {
    margin-bottom: 35px;
}

.player-holder {
    height: 450px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.36);
    background: #474747;
    background: linear-gradient(173deg, #474747 0%, #323131 100%);
    background: -moz-linear-gradient(173deg, #474747 0%, #323131 100%);
    background: -webkit-linear-gradient(173deg, #474747 0%, #323131 100%);
    background: linear-gradient(173deg, #474747 0%, #323131 100%);
    position: relative;

    .forground-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: transparent;
        z-index: 1;

        >div {
            height: 100%;
            cursor: default;
            position: relative;
        }

        .detail-container {
            display: flex;
            padding: 10px 20px;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.78), rgba(56, 56, 56, 0));
            height: 100%;
        }

        .control-container {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 0 20px 10px;
            z-index: 2;
            background-image: linear-gradient(180deg, rgba(56, 56, 56, 0), rgba(0, 0, 0, 0.78));
            padding-top: 25px;
        }

        .step {
            position: relative;
            width: 185px;
        }

        .step-icon {
            text-align: center;
            font-size: 34px;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
        }

        .btn {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.47);
        }

        .control-btn {
            width: 70px;
            height: 70px;
            text-align: center;
            line-height: 65px;
            font-size: 28px;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
            background-color: #e78200;
            box-shadow: 0 0 12px rgba(2, 2, 2, 0.59);

            &:hover {
                background-color: #e78200;
            }

            &:focus,
            &:active {
                background-color: #d88112;
            }

            .fa-play {
                margin-left: 5px;
            }
        }

        .step-text {
            font-size: 13px;
            color: #fff;
            position: absolute;
            width: 100%;
            text-align: center;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.76);
        }

        .audience,
        .playlist-container {
            position: absolute;
            top: 65px;
            width: 230px;
            height: 260px;
            -webkit-mask-image: linear-gradient(180deg, white 0%, white 20%, transparent 100%);
            mask-image: linear-gradient(180deg, white 0%, white 20%, transparent 100%);

            &:hover {
                -webkit-mask-image: linear-gradient(#2F2E2E, #2F2E2E);
                mask-image: linear-gradient(#2F2E2E, #2F2E2E);
            }
        }

        .audience {
            left: 20px;
        }

        .playlist-container {
            right: 20px;

            .right-panel-header {
                font-size: 11px;
            }

            .list-container{
                height: 220px;
                overflow: auto;
                overflow-x: hidden;
            }

            .empty-media {
                font-size: 12px;
            }
        }
    }
}

.player-contain {
    position: relative;
    height: 100%;
    background-color: transparent;

    .video-poster {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        background-size: 100%;

        #poster {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.player-contain.started {
    // background-color: #595959;

    .video-poster {
        filter: blur(2px);
        z-index: -1;
    }
}

#player-box.auto-layer {
    opacity: 0;
    cursor: default;
    transition: opacity 0.4s cubic-bezier(.54, .22, .47, .41);

    &:hover {
        opacity: 1;
    }

    .control-btn {
        box-shadow: 0 0 12px rgba(2, 2, 2, 0.23);
    }
}

.media-control {

    .media-duration {
        font-size: 12px;
        font-weight: 600;
        display: block;

        >div {
            display: inline-block;
        }

        .end-duration {
            float: right;
        }
    }

    .media-tracks {
        background-color: #805e32;
        margin: 8px 0;
        position: relative;
        height: 5px;

        >div {
            position: absolute;
            height: 100%;
            transition: width 0.2s cubic-bezier(0.74, 0.29, 0, 0.65);
        }

        .buffer-track {
            background-color: #927857;
        }

        .watch-track {
            background-color: #e78200;
        }
    }

    .media-controls {

        >div {
            display: inline-block;
        }

        .btn-list {
            display: flex;

            >div {
                font-size: 18px;
                height: 35px;
                width: 30px;
                text-align: center;
                justify-content: center;
                display: flex;
                cursor: pointer;
                align-items: center;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: #c1c1c1;
                }
            }

        }

        .volume-icon {
            font-size: 20px !important;
        }

        .volume {
            width: 80px !important;
            margin-left: 5px;
            cursor: default !important;
            position: relative;

            input[type=range] {
                -webkit-appearance: none;
                margin: 6px 0;
                width: 100%;
                background-color: transparent;
            }

            input[type=range]:focus {
                outline: none;
            }

            input[type=range]::-webkit-slider-runnable-track {
                width: 100%;
                height: 4px;
                cursor: pointer;
                animation: 0.2s;
                background: #EAEAEA;
                border-radius: 4.3px;
            }

            input[type=range]::-webkit-slider-thumb {
                height: 8.5px;
                width: 8.5px;
                background: #e9e9e9;
                border: 1px solid #dedede;
                box-shadow: 0 0 3px rgb(0, 0, 0);
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -2px;
                border-radius: 50%;
            }

            input[type=range]:focus::-webkit-slider-runnable-track {
                background: #BABABA;
            }

            input[type=range]::-moz-range-track {
                width: 100%;
                height: 4px;
                cursor: pointer;
                animation: 0.2s;
                background: #EAEAEA;
                border-radius: 4.3px;
            }

            input[type=range]:focus::-moz-range-track {
                background: #BABABA;
            }

            input[type=range]::-moz-range-thumb {
                height: 8.5px;
                width: 8.5px;
                background: #e9e9e9;
                border: 1px solid #dedede;
                box-shadow: 0 0 3px rgb(0, 0, 0);
                cursor: pointer;
                border-radius: 50%;
            }

            input[type=range]::-ms-track {
                width: 100%;
                height: 4px;
                cursor: pointer;
                animation: 0.2s;
                background: transparent;
                border-color: transparent;
                border-width: 16px 0;
                color: transparent;
            }

            input[type=range]::-ms-fill-lower {
                background: #EAEAEA;
                border-radius: 2.6px;
            }

            input[type=range]::-ms-fill-upper {
                background: #EAEAEA;
                border-radius: 2.6px;
            }

            input[type=range]::-ms-thumb {
                height: 8.5px;
                width: 8.5px;
                background: #e9e9e9;
                border: 1px solid #dedede;
                box-shadow: 0 0 3px rgb(0, 0, 0);
                cursor: pointer;
                border-radius: 50%;
            }

            input[type=range]:focus::-ms-fill-lower {
                background: #BABABA;
            }

            input[type=range]:focus::-ms-fill-upper {
                background: #BABABA;
            }
        }

        .left-control-btns {

            .scroll-range {
                position: absolute;
                height: 4px;
                width: 0%;
                background-color: #e78200;
                left: -1px;
                border-radius: 4.3px 0 0 4.3px;
            }
        }

        .right-control-btns {
            float: right;
        }
    }
}