<div class="row justify-content-center">
  <div class="col-5 content">
    <h3>
      <span>Available Streams: {{streams.length}}</span>
    </h3>
    <div class="note">
      <strong>Note:</strong> You can only join one stream at a time, you must exit the currently joined stream
      before joining a new one.
    </div>
    <div class="list-container">
      <div *ngIf="streams.length != 0">
        <div *ngFor="let item of streams; index as i" class="item item-friend">
          <div class="item-image">
            <img src="{{item.image}}" alt="">
          </div>
          <div class="item-details">
            <div class="item-header">{{item.title}} bucket</div>
            <div class="item-info">{{item.media.length}} media content inside</div>
            <div class="item-date">Created at: {{item.date | helper : 'toNow'}}</div>
            <div class="item-action">
              <button (click)="joinStream(i)" class="btn btn-sm join-btn">Join</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="streams.length == 0">
        <h3 class="empty-media">No Available Streams</h3>
      </div>
    </div>
    <div class="content-action">
      <div class="row">
        <div class="col">
          <a [routerLink]="['/', 'home']" class="btn btn-cancel">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>