@import '../start-stream/start-stream.component';

.content {
    h3 {
        height: auto !important;
        line-height: 18px !important;
        margin-bottom: 0;
    }

    .item-details {

        .item-info {
            color: #a7a7a7 !important;
            font-size: 11px !important;
        }

        .item-date {
            font-size: 10px;
            color: #909090;
            font-family: sans-serif;
            margin-top: -2px;
        }

        .item-action{
            top: 10px !important;
        }
    }

    .item{
        padding: 11px 20px !important;
    }
}

.note {
    font-size: 12px;
    color: #B1B0B0;
    margin-bottom: 15px;
}

.join-btn {
    color: #EAEAEA;
    padding: 4px 15px 5px;
    font-size: 12px;
    background: rgb(6, 193, 28);
    background: -moz-linear-gradient(173deg, rgba(6, 193, 28, 1) 0%, rgba(22, 136, 36, 1) 100%);
    background: -webkit-linear-gradient(173deg, rgba(6, 193, 28, 1) 0%, rgba(22, 136, 36, 1) 100%);
    background: linear-gradient(173deg, rgba(6, 193, 28, 1) 0%, rgba(22, 136, 36, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06c11c", endColorstr="#168824", GradientType=1);
    border: none;

    &:hover {
        background: rgb(13, 172, 32);
        background: -moz-linear-gradient(173deg, rgba(13, 172, 32, 1) 0%, rgba(22, 136, 36, 1) 100%);
        background: -webkit-linear-gradient(173deg, rgba(13, 172, 32, 1) 0%, rgba(22, 136, 36, 1) 100%);
        background: linear-gradient(173deg, rgba(13, 172, 32, 1) 0%, rgba(22, 136, 36, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0dac20", endColorstr="#168824", GradientType=1);
    }

    &:active {
        box-shadow: inset 0 0 15px #0a5713 !important;
    }
}

.empty-media {
    font-size: 14px !important;
    text-align: center;
    padding: 60px 0 0;
    color: #b9b9b9;
}

.list-container {
    height: 359px !important;
}